<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="PackLight {{page.title}}">
  <meta property="og:title" content="PackLight {{page.title}}" />

  <title>PackLight: {{page.title}}</title>

  <link rel="icon" type="image/png" href="/img/favicon.png">
  <style>
    {% include styles.css %}
    {% if page.page_css %}
        {% include {{ page.page_css }} %}
    {% endif %}
  </style>
  
{% if page.page_js %}
<script>
    {% include {{ page.page_js }} %}
</script>
{% endif %}
  
</head>

<body>
<div id="contentContainer">
    <div class="logoHeader" style="justify-content: space-between; align-items: center;{% if page.hidesHeader %}display: none;{% endif %}" >
        <div id="logoAndName" style="display: flex; align-items: center;">
            <a href="/"><img src="img/logo.svg" alt="logo" id="headerLogoImage"/></a>&nbsp;<h2 id="packlightHeader">PackLight</h2>
        </div>			
        <img class="appStoreButton" alt="download" src="app_store_badge.svg" onclick="window.open('https://apps.apple.com/app/apple-store/id1054845207?pt=106642831&ct={% if page.appStoreCampaignId %}{{page.appStoreCampaignId}}{% else %}web{% endif %}&mt=8', '_blank');"></img>
    </div>

    <div>
        {{ content }} 
    </div>

    <div class="footerSection">
        <p><a href="/privacy.html">Privacy Policy</a></p>
        <p><a href="/support.html">Support</a></p>
        <p class="copyright">&copy;2025 Mark Oliveira</p>
    </div>
</div>
</body>
</html>

